* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

#input-item-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#list-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.list-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
    gap: 10px;
}

.list-item-container label {
    flex: 1;
    margin-right: 10px;
}

.list-item-container input[type="text"],
.list-item-container input[type="number"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    flex: 1;
    align-items: center;
}

.list-item-container input[type="checkbox"] {
    margin-left: 10px;
    align-items: center;
 
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;

}

button:hover {
    opacity: 0.8;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="checkbox"]:disabled,
input[type="text"]:disabled,
input[type="number"]:disabled {
    background: #e9ecef;
    color: #6c757d;

}

button:disabled {
    background: #6c757d;
}


@media (max-width: 768px) {
    .list-item-container {
        flex-direction: column;
        align-items: stretch;
    }

    .list-item-container label {
        margin-bottom: 5px;
    }
}

